# Environment variables
.env

# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Testing
.pytest_cache/
/test_results/test_results_*.log

# IDE/Editor specific
.vscode/
.idea/